/* Garantir que o html e body ocupem 100% da altura da janela */

:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
}
html,
body {
    margin: 0;
    overflow: hidden;
    background: url(./assets/Mesaweb.png) no-repeat;
}

/* Container principal que ocupa a tela inteira */
.card-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    height: 100vh;
    background-size: cover;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

/* Garantir que o wrapper das cartas ocupe todo o espaço necessário */
.card-wrapper {
    padding: 2px;
    max-width: 1160px;
    height: 92%;
    gap: 11px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    transform-origin: top left;
    will-change: transform;
    transition: transform 0.3s ease;
}

/* Adicionando controle para evitar distorção com o zoom */
html {
    zoom: reset;
}


/* Ajuste nas cartas */
.card-drawer {
    width: 116px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: url(./assets/cardback/h.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
    position: relative;
}



/* Outros ajustes para o comportamento das cartas e animações */
.card-content {
    display: none;
}

.card-content.show {
    display: block;
}



/* O modal de fundo agora deve cobrir a tela inteira */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.mim__de--papai{
    transform: scale(0);
}

/* Estilos do botão de fechar */
.close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    z-index: 999999;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.common{
    opacity:1!important;
    animation: 1s fadeIn!important;
                    transition: 1s!important;
    }
/* Modal content ajustado */
.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: 0px;
    width: 88%;
    max-width: 200px;
    border-radius: 8px;
    position: relative;
    /* overflow: hidden; */
}

/* Restante do seu código para animações e efeitos de brilho */

.foil:before, .foil:after {
    content: "";
    position: absolute;
    width: 305px;
    height: 428px;
    border-radius: 24px;
    margin-left: 20px;
    margin-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}
.foil:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
        url(https://assets.codepen.io/13471/holo.png),
        linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
}


.foil.active:after,
.foil:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
}

.foil.active,
.foil {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}


.foil.active:before,
.foil:hover:before,
.foil.active:after,
.foil:hover:after {
    animation: none;
    transition: none;
}
.card-picked{
    opacity: 0;
    width: 328px;
    border-radius: 14px;
    /* margin-bottom: 47px; */
    height: 211p;
    height: 451px;
}
.modal__image{
        object-fit: none;
            width: 328px !important;
            height: auto;
            border-radius: 13px;
            transition: all 0.3s ease;
}
.card-picked:hover {
    transition: all 0.3s ease;
    box-shadow: 
      -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2), 
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;

    &:before {
        transition: none;
        animation: holoGradient 12s ease 0s 1;
    }

    &:after {
        transition: none;
        animation: holoSparkle 12s ease 0s 1;
    }
}


.card-drawer:hover {
    animation: tilt-shaking 0.5s infinite;
}

@keyframes holoSparkle {

    0%,
    100% {
        opacity: .75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }

    5%,
    8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(.8) contrast(1.2);
    }

    13%,
    16% {
        opacity: .5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(.8);
    }

    35%,
    38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }

    55% {
        opacity: .33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoGradient {

    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(.5) contrast(1);
    }

    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }

    13%,
    17% {
        background-position: 0% 0%;
        opacity: .88;
    }

    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.5) contrast(1);
    }

    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
}

@keyframes holoCard {

    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }

    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }

    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }

    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }

    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }

}

.logo{

        position: absolute;
        z-index: 99999;
        top: 100px;
        left: 1295px;
    
        transition: all 0.3s ease;
        animation: tilt-shaking 2s infinite;
        
}

.logo:hover {
    animation: tilt-shaking 2s infinite, rotate-animation 0.6s ease;
}

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.card-shake {
    animation: shake 0.5s ease-in-out;
}

.card-whitened {
    position: relative;
    overflow: hidden;
}
.card-number {
    /* position: relative; */
    font-family: fantasy;
    font-size: 75px;
    top: 26%;
    left: 8%;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 46px;
    font-size: 80px;
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card-whitened::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card-whitened.reveal::before {
    opacity: 1;
}

.reshuffle__button{
    
        position: absolute;
        background: red;
        border-radius: 8px;
        padding: 24px;
        top: 984px;
        left: 1724px;
        font-family: fantasy;
        color: white;
        font-size: 23px;
    
}